.buttonWrap {
  border: 0.1em solid var(--foreground);
  padding: 0.2rem;
  background-color: var(--background);
  &:hover {
    border-color: var(--retro-gray);
    .button {
      background-color: darkgray;
    }
  }
  .button {
    font-weight: bold;
    background-color: var(--retro-gray);
    padding: 0.2rem 0.4rem;
  }
}
