.wrap {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}
.linkImage, .linkText {
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
}
.linkImage {
  color: var(--green);
}
.linkText {
  color: var(--blue);
}
.active {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
