.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .inner {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
}

/* Input file */
.imageWrap {
  position: relative;
  cursor: pointer;
  width: 30%;
  min-height: 30rem;
  border: 1px solid gray;
  border-radius: 0.8rem;
  .input {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .uploadedImage {
    width: fit-content;
    .image {
      object-fit: contain;
      width: 100%;
      border-radius: 0.8rem;
      z-index: 2;
    }
  }
  .support {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .supportText1 {
      font-size: 1.5rem;
    }
    .supportText2 {
      height: 40%;
      font-size: 1.3rem;
      margin-top: 3rem;
    }
  }
}
/* ASCII Image */
.asciiImage {
  width: 100%;
  border-radius: 0.8rem;
}

.displayNone {
  display: none !important;
}
