.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .title, .value {
    display: flex;
    gap: 0.8rem;
    font-size: 1.3rem;
    text-wrap: nowrap;
    .fileName {
      max-width: 16rem;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .gray {
      color: darkgray;
    }
  }
}

.processing, .success, .fail {
  font-size: 1.3rem;
  width: 2.2rem;
}
.success {
  padding-left: 0.3rem;
  color: var(--green);
}
.fail {
  font-size: 1.1rem;
  color: var(--red);
}
