.container {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  .options {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
    .optionHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .optionReset {
        background-color: transparent;
        .resetSVG {
          width: 1.6rem;
          height: 1.6rem;
          background-color: transparent;
          fill: var(--color);
          transform: rotate(180deg);
          &:hover {
            fill: darkgray;
          }
        }
      }
    }
    .title {
      font-size: 1.3rem;
    }
    .hr {
      border: none;
      margin: 1rem 0;
    }
  }
  .preview {
    border: 1px dashed var(--color);
    width: 15rem;
    height: 15rem;
  }
}
.option {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 1.3rem;
  .yellow {
    color: var(--yellow);
  }
  .name {
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--blue);
  }
  .value {
    display: flex;
    flex: 1;
    margin-left: 1rem;
    .rowWrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
    }
    .input {
      cursor: pointer;
      color: var(--foreground);
      padding: 0 0.25rem;
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
    }
    .text { font-size: 1.4rem; }
    .row {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .asciiChars {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      letter-spacing: 0.5rem;
      padding: 0 0.8rem;
      font-size: 1.4rem;
    }
    .brightnessWeight {
      display: flex;
      align-items: center;
      gap: 3rem;
      .rgbWrap {
        display: flex;
        align-items: center;
        .rgb {
          font-size: 1.4rem;
          margin: 0 1.8rem 0 0.8rem;
        }
        .input {
          width: 5rem;
          color: var(--color);
        }
      }
    }
  }
}
