.container {
  margin-top: 5rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .titleWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .pre {
      font-size: 0.4rem;
    }
    .progress {
      margin-top: 1rem;
      font-size: 1.4rem;
    }
  }
  .previewListWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    margin-top: 1rem;
    border: 1px solid var(--retro-gray);
    padding: 0.4rem;
    min-height: 5rem;
    .preview {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        .ascii {
          font-size: 1rem;
          padding: 1rem;
        }
      }
    }
  }
}
